@model LearnPortalASP.Models.ViewModels.CourseViewModel
@using LearnPortalASP.Models.MaterialType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Course Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorUserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materials)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Materials)
            {
                @if (item.Discriminator == "Book")
                {
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@item.Id">@item.ToString()</a>
                }
                else if (item.Discriminator == "Video")
                {
                    <a asp-controller="Videos" asp-action="Details" asp-route-id="@item.Id">@item.ToString()</a>
                }
                else
                {
                    <a asp-controller="Publications" asp-action="Details" asp-route-id="@item.Id">@item.ToString()</a>
                }
                <br />
            }
        </dd>
        <hr />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Skills)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Skills)
            {
                <a asp-controller="Skills" asp-action="Details" asp-route-id="@item.Id">@item.ToString()</a>
                <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
