@model IEnumerable<basicFunctions_DB.BLL.DTO.MaterialDTO>

@{
    ViewData["Title"] = "Materials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Materials</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*<th>
                Type
            </th>*@
            <th>
                Creator's email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Discriminator)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CreatorUserName)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>