@model IEnumerable<LearnPortalASP.BLL.DTO.MaterialDTO>

@{
    ViewData["Title"] = "Materials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Materials</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Type
            </th>
            <th>
                Creator
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discriminator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorUserName)
            </td>
            <td>
                    @if(item.Discriminator == "Book")
                    {
                        <a asp-controller="Books" asp-action="Edit" asp-route-id="@item.Id">Edit|</a>
                        <a asp-controller="Books" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                    else if(item.Discriminator == "Video")
                    {
                        <a asp-controller="Videos" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-controller="Videos" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                    else
                    {
                        <a asp-controller="Publications" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-controller="Publications" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>