@model IEnumerable<LearnPortalASP.BLL.DTO.MaterialDTO>

@{
    ViewData["Title"] = "Materials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="flex">
    <h1 class="align-l">Materials</h1>
    <a asp-action="Create" type="button" class="align-r btn btn-outline-dark my-3 mb-3">Create New</a>
</span>


<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Type
            </th>
            <th>
                Creator
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discriminator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorUserName)
            </td>
            <td>
                    @if(item.Discriminator == "Book")
                    {
                        <a asp-controller="Books" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-controller="Books" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-controller="Books" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else if(item.Discriminator == "Video")
                    {
                        <a asp-controller="Videos" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-controller="Videos" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-controller="Videos" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    }
                    else
                    {
                        <a asp-controller="Publications" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-controller="Publications" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-controller="Publications" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>